@font-face {
    font-family: "Raleway";
    src: url(fonts/raleway-regular.tff);
}

@font-face {
    font-family: "Raleway ExtraLight";
    src: url(fonts/raleway-extralight.ttf);
}

@font-face {
	font-family: "Futura";
	src: url(fonts/futura.ttc);
}

@font-face {
    font-family: "Arvo";
    src: url(arvo-regular.ttf);
}
