body {
    
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}

a {
    
    text-decoration: none;
    color: #FFF;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

a:hover {

    color: #BBB;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Roboto Slab';
}

h1 {
    
    text-align: center;
}

.test-warn {
    
    color: #f4dad7;
    font-size: 1rem;
    background-color: #b22241;
    opacity: 0.9;
    padding: 0.5rem 0;
}

.test-warn p {
    
    text-align: center;
    margin: 0;
}

.test-warn a {
    
    color: #f4dad7;    
    text-decoration: underline;
}

.test-warn a:hover {

    color: #FFF;
}

header {
    
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 1rem 2rem;
}

header .title {
    
    font-family: 'Roboto Slab';
    font-size: 1.2rem;
}

.links .link {
    
    padding: 0 0.5rem;
}

.main {
    
    padding: 6rem 2rem;
}

.main>* {
    
    margin: 0.7rem auto;
}

.main .description {
    
    text-align: center;
    font-size: 1.5rem;
    color: #AAA;
}

.container {
    
    background-color: #FFF;
    color: #222;
    margin: 0;
    padding: 0;
}

.container>* {
    
    margin: 0;
}

.container>section {
    
    text-align: center;
    padding: 2rem 8rem;
}

.container>section:nth-child(even) {

    background-color: #EEE;
}

section.content {
    
    text-align: justify;
}

section.comments {
    
    padding: 2rem 8rem;
}

section.comments .comment {
    
    text-align: justify;
    border-bottom: 0.1rem solid #000;
}

section.comments .comment:last-child {
    
    border-bottom: none;
}

section.comments .comment .commenter {

    margin-bottom: 0.5rem;
}

section.comments .comment .content {
    
    margin-top: 0.5rem;
}

section h2, section h1 {
    
    margin-top: 0;
}

section img {
    
    height: 20vw;
    border-radius: 0.2rem;
}

section a.button {
    
    display: inline-block;
    text-decoration: none;
    color: #FFF;    
    background-color: #222;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

section a.button:hover {

    color: #FFF;
    background-color: #555;
}

section a {
    
    color: #222;
    text-decoration: underline;
}

section a:hover {
    
    color: #777;
}

footer {
    
    font-size: 0.9rem;
    padding: 1rem 2rem;
    text-align: center;
}

.disclaimer {
    
    font-size: 0.8rem;
    color: #777;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}