body {
    
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}

a {
    
    text-decoration: none;
    color: #FFF;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

a:hover {

    color: #CCC;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Roboto Slab';
}

h1 {
    
    text-align: center;
}

header {
    
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 1rem 2rem;
}

header .title {
    
    font-family: 'Roboto Slab';
    font-size: 1.2rem;
}

.links .link {
    
    padding: 0 0.5rem;
}

.main {
    
    padding: 8rem 2rem;
}

.main #tagline {
    
    text-align: center;
}

.container {
    
    background-color: #FFF;
    color: #222;
    margin: 0;
    padding: 0;
}

.container>* {
    
    /*margin: 0;*/
}

.container>section {
    
    text-align: center;
    padding: 2rem;
}

.container>section:nth-child(even) {

    background-color: #EEE;
}

section h2 {
    
    margin-top: 0;
}

section img {
    
    height: 20vw;
    border-radius: 0.2rem;
}

section a.button {
    
    background-color: #222;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    margin-top: 10rem;
}

section a.button:hover {

    color: #FFF;
    background-color: #444;
}

footer {
    
    padding: 1rem 2rem;
    text-align: center;
}